#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.setupform {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

textarea {
  height: 144px;
  width: 224px;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding-right: 10px;
  padding-left: 10px;
}

input {
  width: 100px;
  height: 30px;
}

button.primary {
  background-color: #999;
}

button.selected {
  background-color: #888;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}


.animation-container {
  position: relative;
  height: 40px;
  padding: 20px;
  margin: 20px;
  justify-content: center;
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  font-size: 2em;
  z-index: 999;
}

.animation-none {
  animation: none;
  animation-fill-mode: forwards;
}

.animation-select {
  animation: 1s ease-in nameAnimationSelect;
  animation-fill-mode: forwards;
}

@keyframes nameAnimationSelect {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100px);
  }
}

.animation1 {
  animation: nameAnimation1 1.03s linear infinite;
}
